html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;

}

/* Custom style for fetched Strapi content derived with  <Markdown children={content}/>
<Markdown> is wrapped in <Typography component="div"> */

div.markdown p{
  margin: 0;
  line-height: 28px
}
/* @media screen and (max-width: 600px) {
  div.markdown p{
  line-height: 24px
}
} */

div.markdown ul{
  padding-left: 20px;
}

div.markdown ul li::marker{
  color:#5c5c5c;
}

div.markdown li:not(:last-child) {
  margin-bottom: 5px;
}

div.markdown strong {
  font-weight: 500;
}

div.markdown.links li:not(:last-child) {
  margin-bottom: 0px;
}


