html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* Custom style for fetched Strapi content derived with  <Markdown children={content}/>
<Markdown> is wrapped in <Typography component="div"> */

div.markdown a{
    color: #2196f3;
    font-weight: 500;
}
div.markdown p{
  margin: 0;
}
div.markdown ul{
  padding-left: 20px;

}
div.markdown li:not(:last-child) {
  margin-bottom: 10px;
}


