html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
}

/* Custom style for fetched Strapi markdown content
 */

.markdown p {
  margin: 0;
  line-height: 28px;
  font-weight: 400;
}

.markdown ul {
  padding-left: 20px;
}

.markdown ul li::marker {
  color: #5c5c5c;
}

.markdown li:not(:last-child) {
  margin-bottom: 10px;
}

.markdown strong {
  font-weight: 600;
}
